@{
    ViewBag.Title = GlobalResources.Web.Views.Home.Contact.Title;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>@GlobalResources.Web.Views.Home.Contact.Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@GlobalResources.Web.Views.Home.Contact.Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>