<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@GlobalResources.Web.Views.Shared.Error.Title</title>
</head>
<body>
    <hgroup>
        <h1>@GlobalResources.Web.Views.Shared.Error.Title</h1>
        <h2>@GlobalResources.Web.Views.Shared.Error.Content</h2>
    </hgroup>
</body>
</html>
